@page "/tickets/{id:guid}"
@using static tickets.Services.Tickets.Queries.GetTicket
@using static tickets.Services.Tickets.Queries.GetAllTickets
@inject IServiceManager serviceManager
@inject IMediator mediator
@rendermode InteractiveServer

<PageTitle>Details</PageTitle>

@if (ticket is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="px-5">
        <h1 class="mb-5">Ticket Details</h1>

        <section class="mb-5">
            <div>
                <span class="fw-bold">Id: </span> @ticket.Id
            </div>
            <div>
                <span class="fw-bold">Title: </span> @ticket.Title
            </div>
            <div>
                <span class="fw-bold">Description: </span> @ticket.Description
            </div>
            <div>
                <span class="fw-bold">Created: </span> @ticket.Created
            </div>
            <div>
                <span class="fw-bold">Created By: </span> @ticket.Employee.FullName
            </div>
        </section>
        
        <h2 class="mb-3">Recently added tickets</h2>
        <section class="d-flex justify-content-center row row-cols-6 gap-5 mx-0">
            @foreach (var ticket in tickets)
            {
                <div class="card text-white rounded g-0">
                    <div class="card-header fw-bold border-bottom-0 pb-0 fs-5">
                        <NavLink href="@($"/tickets/{ticket.Id}")" class="text-decoration-none text-white">
                            @ticket.Title.ToUpper()
                        </NavLink>
                    </div>
                    <div class="card-body rounded-bottom">
                        <div class="mb-3">
                            <span class="fw-bold">Description: </span> @ticket.Description
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">Status: </span> @ticket.Status
                        </div>
                        <div class="mb-3">
                            <span class="fw-bold">Created: </span> @ticket.Created
                        </div>
                        <div>
                            <span class="fw-bold">Created by: </span> @ticket.Employee.FullName
                        </div>
                    </div>
                </div>
            }
        </section>
    </section>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private TicketResult? ticket;

    private ICollection<TicketsResult>? tickets;

    protected override async Task OnInitializedAsync()
    {
        ticket = await mediator.Send(new GetTicketQuery()
        {
            Id = Id
        });

        tickets = await mediator.Send(new GetAllTicketsQuery()
        {
            Amount = 5
        });
    }
}
